.TargetContainer {
  width: 100%;
  max-width: 90%;
  margin: 2em auto;
  border-radius: 26px;
  overflow: hidden;
  background: #f0f0f0;
  box-shadow: 0 4px 6px var(--shadow-color);
}

.TargetItems {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.Card {
  max-width: 47%;
  flex: 1 1 47%;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.Card > span {
  margin-top: 0.2em;
  text-align: center;
  font-size: 0.9em;
  color: #666464;
}

.ImageWrapper {
  max-width: 100%;
  flex: 1 1 100%;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.ImageWrapper:hover {
  transform: scale(1.03);
}

.Image {
  width: 100%;
  height: auto;
  max-height: 20em;
  object-fit: contain;
}

.Caption {
  margin-top: 0.5em;
  text-align: center;
  font-size: 1.2em;
  color: #333;
}

@media (max-width: 768px) {
  .TargetContainer {
    max-width: 95%;
    border-radius: 12px;
  }
  .TargetItems {
    flex-direction: column;
    align-items: center;
  }
  .Card {
    max-width: 95%;
    flex: 1 1 90%;
    padding: 1em;
    border-radius: 8px;
  }
  .Card > span {
    font-size: 1.8em;
  }
  .Image {
    max-height: 40em;
  }
  .Caption {
    font-size: 2.4em;
  }
}
