.HeroContainer {
    width: 100%;
    text-align: center;
    padding: 1em;
}

.HeroContainer > h2 {
    font-size: 4em;
    color: var(--text-secondary);
}

@media(max-width: 768px) {
    .HeroContainer > h2 {
        font-size: 6em;
    }
}