.TargetContainer {
  width: 100%;
  max-width: 90%;
  margin: 2em auto;
  border-radius: 26px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 6px var(--shadow-color);
  padding: 2em;
}

.TargetItems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.TargetItem {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 6px var(--shadow-color);
  transition: transform 0.2s;
}

.TargetItem:hover {
  transform: scale(1.02);
}

.ProjectImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.ProjectContent {
  padding: 1em;
}

.ProjectTitle {
  color: var(--primary-color);
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.ProjectDescription {
  color: var(--text-secondary);
  font-size: 1em;
  margin-bottom: 1em;
}

.ProjectTechnologies {
  color: var(--text-primary);
  font-size: 0.9em;
  margin-bottom: 1em;
}

.ProjectLink {
  color: var(--accent-color);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  transition: color 0.2s;
  font-size: 1.2em;
}

.ProjectLink:hover {
  color: var(--accent-hover);
}

@media (max-width: 768px) {
  .TargetContainer {
    max-width: 95%;
    border-radius: 12px;
    padding: 2em 0;
    background: fff0;
    box-shadow: none;
  }

  .TargetItems {
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }

  .TargetItem {
    border-radius: 8px;
  }
  .TargetItem:hover {
    transform: scale(1);
  }
  .ProjectContent {
    padding: 2em;
  }
  .ProjectTitle {
    font-size: 4em;
  }
  .ProjectDescription {
    font-size: 3em;
    margin-bottom: 1em;
    min-height: 6em;
  }
  .ProjectTechnologies {
    font-size: 3em;
    margin-bottom: 1em;
  }
  .ProjectLink {
    font-size: 3.4em;
  }
}
